.htmlquiz, .cssquiz, .jsquiz{
  display: none;
}
body{
  background-image: url("https://ugc.futurelearn.com/uploads/images/d3/4e/d34ec158-70f0-410c-bcc8-466a31e19e07.jpg");
  font-size: 18pt;
}
button{
  border-radius: 16px;
  background-color: white;
  font-size: 20pt;
  width: 200px;
  border: 1px solid #a7ffeb;
  text-align: center;
}
button:hover{
  background-color: #a7ffeb;
  color: black;
  width: 350px;
}
.topbutton{
  font-size: 20pt;
  width: 300px;
}
.topbutton:hover{
    padding-left: 30px;
}
.well{
  background-color: #90a4ae;
  border: none;
 opacity: 0.9;
}
#message{
  color: #fff;
  font-size: 30pt;
  font-weight: bolder;
  background-color:#546e7a;
  border-radius: 16px;
}
#results{
  color: #fff;
  font-size: 30pt;
  font-weight: bolder;
  background-color:#546e7a;
  border-radius: 16px;
}
#ans{
  color: #fff;
  font-size: 30pt;
  font-weight: bolder;
  background-color:#263238;
  border-radius: 16px;
}
