.htmlquiz, .cssquiz, .jsquiz{
  display: none;
}
.jumbotron{
  opacity: 0.9;
  }
body{
  background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  font-size: 18pt;
  font-weight: bold;
  font-family: cursive;
}
button{
  border-radius: 16px;
  background-color: white;
  font-size: 20pt;
  width: 200px;
  border: 1px solid #a7ffeb;
  text-align: center;
}
button:hover{
  background-color: #a7ffeb;
  color: black;
  
}
.topbutton{
  font-size: 20pt;
  width: 300px;
  font-weight: normal;
  font-family: cursive;
}
.topbutton:hover{
    padding-left: 30px;
}
.well{
  background-color: #90a4ae;
  border: none;
  opacity: 0.9;
}
#message{
  color: #fff;
  font-size: 30pt;
  font-weight: bolder;
  background-color:#263238;
  border-radius: 16px;

}
#results{
  color: #fff;
  font-size: 30pt;
  font-weight: bolder;
  background-color:#263238;
  border-radius: 16px;
}
#ans{
  color: #fff;
  font-size: 30pt;
  font-weight: bolder;
  background-color:#263238;
  border-radius: 16px;
}
#ansimg{
  display: none;
}
.reset:hover{
  color: #000000;
  text-decoration: none; 
}
.reset{
  color: #000000;
}